body {
    margin: 0;
    font-family: arial;
    background-color: white;

}

h1 {
    margin: 0;
    background-color: red;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 5px solid white;
    text-align: center;
}

table {
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;

}

table tr td {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

table tr td {
    padding: 10px;
    color: greenyellow;
}

table tr td:last-child {
    border-right: none;
}

table tfoot tr:last-child td:last-child {
    border-bottom: none;
}

table thead tr td {
    background-color: #222;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

table thead tr td button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all ease-in 0.2s;
}

table thead tr td button:hover {
    background: lightseagreen;

}

table tbody tr:first-child td {
    background-color: #333;
    color: white;
    font-weight: bold;

}

table tbody tr td.fds {
    background: rgb(196, 55, 55);
    color: white;
}

table tfoot tr td {
    text-align: right;
    font-size: 14px;
    background-color: white;
    color: red;
}

table tbody td {
    background-color: #555;
}

